@import url("/css/reset.css");

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-image: radial-gradient(circle, #ae3465, #802b4b, #552033, #2d151d, #000000);;
    height: 100vh;
    width: 100vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px; 
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 24px; 
    text-align: center;
}

footer {
    position:fixed;
    height: 20px; 
    width: 100vw; 
    bottom: 0px; 
    text-align: center;
    font-size: 12px; 
    color: pink; 
    opacity: 0.4;
}

.road {
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 50px; 
}

.bulle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 30px; 
    width: 30px; 
    background-color: #212121;
    color: white; 
}

.valide {
    background-color: #FF0066; 
    box-shadow: 0px 0px 15px -3px #FF0066;
}

.questionnaire {
    text-align: center;
    color: lightgray; 
    font-size: 16px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.reponse {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin: 50px; 
}

button {
    border: none; 
    width: 15vw;
    padding: 10px 5px;
    background-color: #212121;
    color: lightgray;
    border-radius: 4px;  
    transition: all 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: #292929; 
    box-shadow: 0px 0px 10px -3px #FF0066;
    transform: scale(1.02);
}

a {
    color: inherit;
    text-decoration: none;
}

.previous {
    font-size: 9px;
    position: absolute; 
    bottom: 0px;
    left: 0px; 
    color: pink; 
    transition: all 0.2s ease-in-out;
}

.previous:hover {
    transform: scale(1.03);
    color: rgb(255, 144, 162); 
}

.score {
    font-size: 12px;
    position: absolute; 
    bottom: 0px;
    right: 0px; 
    color: white;  
    transition: all 0.2s ease-in-out;
    border: solid 1px #adff2f; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -3px #adff2f;
}

h2 {
    text-align: center;
    color: rgb(202, 202, 202); 
    margin: 50px; 
    font-weight: bold;
}

.score-final {
    color: white; 
    text-align: center;
    border: solid 3px #adff2f; 
    border-radius: 10px;
    box-shadow: 0px 0px 20px -3px #adff2f;
    font-size: 36px; 
    padding: 15px 10px; 
}

.backMenu {
    color: pink; 
    font-size: 12px; 
    text-align: center;
    margin : 50px; 
    transition: all 0.2s ease-in-out;
}

.backMenu:hover {
    transform: scale(1.02);
    color: white; 
}

.score-page {
    display: flex; 
    flex-direction: column; 
}